<p id="notice" class="w3-panel"><%= notice %></p>

<div class="w3-panel w3-aqua">

<table class="w3-table-all">
<thead>
  <tr>
    <th><h1>quote</h1></th>
    <th></th>
  </tr>
</thead>
<tbody>
<tr>

<td>
  <strong>Name:</strong>
</td>
<td>
  <%= @quote.name %>
</td>
</tr>

<td>
  <strong>Content:</strong>
</td>
<td>
  <%= @quote.content %>
</td>
</tr>


<tr>
<td>
<%= link_to 'Edit', edit_quote_path(@quote) ,class:"w3-button w3-light-gray" %> |
<%= link_to 'Back', quotes_path , class:"w3-button w3-light-gray" %>
</td>
</tr>
</tbody>
</table>
</div>
